*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Space Mono', monospace;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
h1{
        font-family: 'Space Mono', monospace;
        font-weight: bold;
}
h2{
        font-family: 'Space Mono', monospace;
        font-weight: bold;
}
h3{
        font-family: 'Space Mono', monospace;
        font-weight: bold;
}
h4{
        font-family: 'Space Mono', monospace;
        font-weight: bold;
}

ul{
    list-style-type: none;
}