.loader{
    background-color: transparent;
    transition: 1s ease-in-out;    
    // opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(0px);
    width: 100%;
    height: 100vh;
    z-index: 99999;
    opacity: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 1 !important;
        height: 100vh;
        background-color: #fff;
        z-index: 99999;
        backdrop-filter: blur(20px);
        transition: 0.5s ease-in-out;
    
        img {}
    
        display: flex;
        justify-content: center;
        align-items: center;
}
